fastapi>=0.100.0
uvicorn[standard]>=0.23.0

httpx[http2]>=0.25.0

orjson>=3.8.0

google-cloud-aiplatform>=1.45.0
google-auth>=2.20.0
google-api-python-client
google-generativeai>=0.5.0

pydantic>=2.0.0

python-dotenv>=1.0.0

python-multipart>=0.0.9

PyPDF2>=3.0.0
python-docx>=1.1.0
Pillow>=10.0.0
SpeechRecognition>=3.14.0
PyAudio>=0.2.14
soundfile>=0.13.1